.about_content {
    
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6.5rem;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: .6rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary);
    cursor: default;
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: .7rem;
    color: var(--color-light);
}

.about__container {
    width: 90%;
    margin: 0 auto; 
}

.about__content p{

    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}